.idea
.classpath
.project
.settings
.iml
.idea
*.iml
target
*~
rebel.xml
node_modules
/exercise-tracking-web/src/main/webapp/assets/bower_components/
/exercise-tracking-web/node/
/exercise-tracking-web/node_modules/
ad-att-standalone-web/node
